<!-- Vista para mostrar todos los usuarios -->
<h1>Todos los usuarios</h1>

{{#if users}}
  <ul>
    {{#each users}}
      <li>
        <strong>Nombre:</strong> {{first_name}}, <strong>Email:</strong> {{email}}, <strong>Tipo de cuenta:</strong> {{accountType}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay usuarios registrados.</p>
{{/if}}

{{#if showInactive}}
  <h2>Usuarios inactivos</h2>
  {{#if inactiveUsers}}
    <ul>
      {{#each inactiveUsers}}
        <li>
          <strong>Nombre:</strong> {{first_name}}, <strong>Email:</strong> {{email}}, <strong>Tipo de cuenta:</strong> {{accountType}}
        </li>
      {{/each}}
    </ul>
    <!-- Botón para eliminar usuarios inactivos -->
    <button id="deleteInactiveBtn" onclick="deleteInactiveUsers()">Eliminar usuarios inactivos</button>
  {{else}}
    <p>No hay usuarios inactivos.</p>
  {{/if}}
{{/if}}

<script src="/userInactive.js"></script>
<script src="https://kit.fontawesome.com/48d346ada8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css" />
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


