<!-- NavBar 2 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/api/products?cartId={{cartId}}">
      <i class="fa-solid fa-store"></i>
      TIENDA DE ROPA
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del menú -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">
            REBAJAS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Mujeres
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Hombres
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Niños
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="carts">
  <h2 class="carts-title"><i class="fa-solid fa-cart-shopping"></i></h2>
  {{#if cart.products.length}}
    <table class="carts-table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <div id="cart-container" data-cart-id="{{cartId}}">
          {{#each cart.products}}
            <tr class="products">
              <td>{{title}}</td>
              <td>{{description}}</td>
              <td>${{price}}</td>
              <td>{{quantity}}</td>
              <td><button
                  class="delete-product"
                  data-id="{{_id}}"
                >Remove</button></td>
            </tr>
          {{/each}}
        </div>
      </tbody>
    </table>
    <div class="carts-summary">
      <p class="carts-total">Total: ${{total}} </p>
      <button class="btn btn-success" id="checkout">Pagar</button>
    </div>
  {{else}}
    <p class="empty-cart">Your cart is empty.</p>
  {{/if}}
</section>

<script src="/carts.js"></script>
<link rel="stylesheet" href="/style.css" />
<script
  src="https://kit.fontawesome.com/48d346ada8.js"
  crossorigin="anonymous"
></script>